/* layers control */

.leaflet-left .leaflet-control.leaflet-mini-map-control-layers {
	/* > ie receives a mouseleave event when moving between minimaps if there's a transparent background */
	background: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
	margin: 0 0 14px 10px;
	-webkit-transform: translate3d(0px, 0px, 0);
}

.leaflet-mini-map-control-layers .map-container {
	background-color: #fff;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 1px 7px #999;
	opacity: 0;
	border: 2px solid white;
	position: absolute;
		top: 0px;
		left: 0px;
	visibility: hidden;
	
	-webkit-transition-property: left, visibility, width, opacity;
	   -moz-transition-property: left, visibility, width, opacity;
	    -ms-transition-property: left, visibility, width, opacity;
	     -o-transition-property: left, visibility, width, opacity;
	        transition-property: left, visibility, width, opacity;
	-webkit-transition-duration: 0.3s;
	   -moz-transition-duration: 0.3s;
	    -ms-transition-duration: 0.3s;
	     -o-transition-duration: 0.3s;
	        transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;
	   -moz-transition-timing-function: ease-in-out;
	    -ms-transition-timing-function: ease-in-out;
	     -o-transition-timing-function: ease-in-out;
	        transition-timing-function: ease-in-out;
}

.leaflet-mini-map-control-layers .map-container-inner {
	border-radius: 4px;
	overflow: hidden;

	/* fixes clipping of border-radius overflow in webkit */
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.leaflet-mini-map-control-layers.expanded .map-container {
	opacity: 1;
	visibility: visible;
}

.leaflet-mini-map-control-layers .active-map .leaflet-container {
	cursor: default;
}

.leaflet-mini-map-control-layers .active-map,
.leaflet-mini-map-control-layers .map-container:hover .map-label,
.leaflet-mini-map-control-layers .map-container:hover {
	background-color: #f5e7ed;
	border-color: #f5e7ed;
}

.leaflet-mini-map-control-layers .active-map,
.leaflet-mini-map-control-layers .map-container:hover .map-label {
	cursor: default;
}

.leaflet-mini-map-control-layers .suggested-map {
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

.leaflet-mini-map-control-layers.notransition .map-container {
	-webkit-transition: none !important;
	   -moz-transition: none !important;
	    -ms-transition: none !important;
	     -o-transition: none !important;
	        transition: none !important;
}

.leaflet-mini-map-control-layers .map {
	background-color: #fff;
	cursor: pointer;
}

.leaflet-mini-map-control-layers .map-label,
.leaflet-mini-map-control-layers .active-map:hover .map-label {
	color: #232323;
	font-weight: bold;
	line-height: 22px;
	overflow: hidden;
	padding: 0 3px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}